section.video
  .container.video__container
    h2.video__head Посмотреть промо-ролик
    .video__box
      iframe(
        src="https://kinescope.io/200630783"
        width="960"
        height="540"
        frameborder="0"
        allow="autoplay; fullscreen"
      )
        

